.contact3 {
  background: #f8f9fa;
}

.contact-image {
  max-width: 100%; /* Ensures image responsiveness */
  height: 400px;   /* Sets a fixed height */
  object-fit: cover; /* Ensures the image maintains its proportions */
}

.card img {
  height: 50px;
  width: auto;
}

.btn-danger {
  background: #ff4e50;
  border: none;
}

.btn-danger:hover {
  background: #c6003d;
}
